@font-face {
	font-family: 'Chalk-hand-lettering-shaded_dem';
	src:url('../../resources/fonts/chalk_font_family.ttf');
}
.root{
	-fx-background-image: url('../../resources/images/chalkboard_bg.jpg');
	-fx-background-size: cover;
}
#Smasher_image{
	-fx-image: url('../../resources/images/grayscale_smasher.gif');
	-fx-opacity: 0.75;
}
#inventory-equipment_bg{
	-fx-background-image: url('../../resources/images/chalkboard_bg.jpg');
	-fx-background-size: cover;
}
#Smasher_image2{
	-fx-image: url('gameLogo.gif');
	-fx-opacity: 0.75;
}
#Sneak_image{
	-fx-image: url('../../resources/images/grayscale_sneak.gif');
	-fx-opacity: 0.75;
}
#Sneak_image2{
	-fx-image: url('../../resources/images/sneak.gif');
	-fx-opacity: 0.75;
}
#Summoner_image{
	-fx-image: url('../../resources/images/grayscale_summoner.gif');
	-fx-opacity: 0.75;
}
#Summoner_image2{
	-fx-image: url('../../resources/images/summoner.gif');
	-fx-opacity: 0.75;
}
#menu_title{
	-fx-font-family: 'Chalk-hand-lettering-shaded_dem';
	-fx-font-size: 75px;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-opacity: 0.5;
}
#button_text{
	-fx-font-family: 'Chalk-hand-lettering-shaded_dem';
	-fx-font-size: 20px;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-opacity: 0.75;
}
#button_rectangle{
	-fx-fill: black;
	-fx-opacity: 0.6;
}
#button_text2{
	-fx-font-family: 'Chalk-hand-lettering-shaded_dem';
	-fx-font-size: 20px;
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-opacity: 0.75;
}
#button_rectangle2{
	-fx-fill: white;
	-fx-opacity: 0.6;
}
.label{
	-fx-font-family: 'Chalk-hand-lettering-shaded_dem';
	-fx-font-size: 30px;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-opacity: 0.5;
}

