<?xml version="1.0" encoding="UTF-8"?>
<setup>
    <map base-terrain="ground" height="20" width="20">
        <tile-group terrain="water" height="2" width="5" x-origin="0" y-origin="0"/>
        <tile-group terrain="water" height="5" width="2" x-origin="0" y-origin="5"/>
        <tile-group terrain="mountain" height="3" width="3" x-origin="10" y-origin="10"/>
        <area-effect-group type="insta-death" height="3" width="2" x-origin="15" y-origin="12"/>
        <area-effect-group type="heal-damage" height="1" width="1" x-origin="3" y-origin="3"/>
        <area-effect-group type="level-up" height="1" width="1" x-origin="13" y-origin="13"/>
        <area-effect-group type="take-damage" height="2" width="4" x-origin="13" y-origin="3"/>
        <items>
            <one-shot name="Healing-Super-Potion" base="4" x-position="19" y-position="19"/>
            <consumable name="Mediocre-Healing-Potion" base="1" x-position="4" y-position="4"/>
            <equippable name="Super-Sayan-Sword" base="0" x-position="5" y-position="10"/>
            <equippable name="The-Boots-Of-Awesome" base="0" x-position="10" y-position="13"/>
            <takeable name="Magic-AoE-Wand" base="0" x-position="0" y-position="14"/>
            <interactable name="AoE-Remover" base="0" x-position="13" y-position="3" />
            <obstacle name="Super-Unmoveable-Object" base="0" x-position="18" y-position="18" />
        </items>
    </map>
</setup>
